<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.web>
    <authorization>
      <allow users="*" />
      <allow users="?" />
    </authorization>
  </system.web>

  <location path="LESCOR.aspx" >
    <system.web>
      <authorization>
        <allow roles="LESCOR" />
        <deny users="*" />
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  
</configuration>
