<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="WFPPS" />      
      <allow roles="Developer" />
      <deny users="*" />
      <deny users="?" />
    </authorization>
  </system.web>

  <location path="WF_Merchant_Mapping.aspx" >
    <system.web>
      <authorization>
        <allow roles="WF_Mapping" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="DelinquencySubmission.aspx" >
    <system.web>
      <authorization>
        <allow roles="WF_Delinquency" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="WFPPSDelinquency.aspx" >
    <system.web>
      <authorization>
        <allow roles="WF_Delinquency" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  
</configuration>
<!--<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="WFPPS" />
      <allow roles="Developer" />
      <deny users="*" />
      <deny users="?" />
    </authorization>
  </system.web>
</configuration>-->
