<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
          <allow users="Developer"/>
          <deny users="*" />
          <deny users="?" />
        </authorization>
      
      <!--<pages>
  <controls>
    --><!--<add tagPrefix="cc1" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,  PublicKeyToken=31bf3856ad364e35"/>--><!--
    <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="cc1"/>
  </controls>
</pages>-->

    </system.web>
  
  
</configuration>




 