<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow roles="OHMS" />
            <allow roles="RADOHMS" />
            <deny users="*" />
            <deny users="?" />
        </authorization>
    </system.web>
    <location path="OHMSInstructions.aspx">
      <system.web>
        <authorization>
          <allow users="?"/>
          <allow users="*"/>
        </authorization>
      </system.web>
    </location>
</configuration>