<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>      
        <authorization>
          <deny users="*" />
          <deny users="?" />
        </authorization>
    </system.web>

  <location path="udMDPOSDescriptionMapping.aspx" >
    <system.web>
      <authorization>
        <allow roles="MDPOSMapper" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="udMDPOSDescMappingInstructions.aspx" >
    <system.web>
      <authorization>
        <allow roles="MDPOSMapper" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="PFOGroupMapping.aspx" >
    <system.web>
      <authorization>
        <allow roles="FSI User" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>

