<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authorization>
      <!--<allow users="*"/>-->
      <allow roles="Developer" />
      <allow roles="PatientAccess" />
      <deny users="*" />
      <deny users="?" />
    </authorization>
  </system.web>

</configuration>

